{%load static%}
<div class="navbar" style="background:#000340;color:#ffeeff">
    <div class="navbar_header">
      <img src="{%static 'img/imlogo.png' %}" style="width:auto;height:5rem; margin:0px;padding:0px;"/>
    </div>
    <div class="nav_menu">
      <ul>
        <li class="hover-underline-animation">Home</li>
        <li class="hover-underline-animation">About</li>
        <li class="hover-underline-animation">Contact us</li>
        <li class="hover-underline-animation">Team</li>
      </ul>
    </div>
  </div>